<ion-view title="BooQ" id="market" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="booQ-list5" class=" ">
            <ion-item class="item-thumbnail-left item-icon-right  " id="booQ-list-item4" ui-sref="tabsController.zarlal">
                <img src="img/ERCRgPQRQfqomMupkzJT_Screen Shot 2016-07-26 at 14.58.28.png">
                <h2>Монголын нууц товчоо</h2>
                <p>Зохиолчийн нэр</p>
                <b>7000₮</b>
                <!-- <i class="icon ion-android-attach"></i> -->
                <small>Хэрэглэгчийн нэр 2016.07.28-д зарах хүсэлт илгээсэн.</small>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <ion-list id="booQ-list6" class=" ">
            <ion-item class="item-thumbnail-left  " id="booQ-list-item7" ui-sref="tabsController.page11">
                <img src="img/eg3hHCXVQ26rnK3NfJ15_Screen Shot 2016-07-26 at 15.10.17.png">
                <h2>Объект хандлагат програмчлал</h2>
                <p>Ж.Пүрэв</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <ion-list id="booQ-list7" class=" ">
            <ion-item class="item-thumbnail-left  " id="booQ-list-item8">
                <img src="img/tyWsKxCuSD23PknR3UND_Screen Shot 2016-07-26 at 15.27.40.png">
                <h2>Олон улсын бизнес</h2>
                <p>Н.Отгонсайхан</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <ion-list id="booQ-list8" class=" ">
            <ion-item class="item-thumbnail-left  " id="booQ-list-item9">
                <img src="img/IkdusptARKeYfIl8Aypo_Screen Shot 2016-07-26 at 15.29.59.png">
                <h2>Улс төрийн философи</h2>
                <p>Д.Болд-Эрдэнэ</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>