<!-- page11-hereglegch -->

<ion-view title="Хэрэглэгчийн профайл">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-avatar  ">
                <h2>Хэрэглэгчийн нэр</h2>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Хүйс</ion-item>
            <ion-item>Ажил</ion-item>
            <ion-item>Төрсөн өдөр</ion-item>
            <ion-item>Цахим хаяг</ion-item>
            <ion-item>Категори</ion-item>
        </ion-list>
    </ion-content>
</ion-view>