<ion-view title="Хүсэлтүүд">
    <ion-content padding="true" class="has-header">
        <button class=" button button-positive  button-block ">Хүсэлт илгээх</button>
        <ion-list>
            <ion-item class="item-avatar  ">
        <ion-list class=" ">
            <ion-item class="item-avatar  ">
                <h2>Солилцох хүсэлт ирлээ</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <ion-list>
            <ion-item class="item-avatar  ">
                <h2>Худалдан авах хүсэлт ирлээ</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <ion-list>
            <ion-item class="item-avatar  ">
                <h2>Солих хүсэлт ирлээ</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <ion-list>
            <ion-item class="item-avatar  ">
                <h2>Зарах хүсэлт ирлээ</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>