<!-- page15 nuuts_ug_solih -->
<ion-view title="Нууц үг солих">
    <ion-content padding="true" class="has-header">
        <form class="list ">
            <label class="item item-input ">
                <span class="input-label">Одоогийн нууц үг</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <form class="list ">
            <label class="item item-input ">
                <span class="input-label">Шинэ нууц үг</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input ">
                <span class="input-label">Шинэ нууц үг давтах</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class=" button button-positive  button-block ">Нууц үг солих</button>
        <button class=" button button-stable  button-block button-outline ">Болих</button>
        <p style="color:#000000;" class=" ">Нууц үгээ мартсан!</p>
    </ion-content>
</ion-view>