<!-- page14 - tohirgoo -->
<ion-view title="Тохиргоо">
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input item-stacked-label ">
                <span class="input-label">Хэрэглэгчийн нэр</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input item-stacked-label ">
                <span class="input-label">Цахим хаяг</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input item-stacked-label ">
                <span class="input-label">Утас</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="nuuts_ug_solih" style="text-align:left;" class=" button button-stable  button-block button-outline ">Нууц үг</a>
    </ion-content>
</ion-view>