<!-- page13 tohiroo-delgerengui -->
<ion-view title="Монголын нууц товчоо тохироо">
    <ion-content padding="true" class="has-header">
        <div class="list card ">
            <ion-item class="item-avatar  ">
                <h2>Тохироо нэг</h2>
                <p>Зарна</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/N4P7BWZAQNqQuQijtxT1_u15482670912012-04-09-19-14[www.golio.mn].jpg" width="100%" height="200" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body ">
                <p style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left positive  ">
                <i class="icon ion-arrow-swap"></i>Тохироо 2</ion-item>
            <ion-item class="item-icon-left assertive  ">
                <i class="icon ion-arrow-swap"></i>Тохироо 3</ion-item>
        </div>
    </ion-content>
</ion-view>