<ion-view title="Миниий тохироо">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left item-icon-right  " ui-sref="tabsController.tohiroo-delgerengui">
                <img src="img/U5PqIXvSTurb0hcx9fff_u15482670912012-04-09-19-14[www.golio.mn].jpg">
                <h2>Монголын нууц товчоо</h2>
                <p>3ш тохироо байна</p>
                <i class="icon ion-social-css3"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  ">
                <img src="img/faMMOCpS3E8ww2cKy2ew_3_2_60f5391f.jpg">
                <h2>Объект хандлагат програмчлал</h2>
                <p>5ш тохироо байна</p>
                <i class="icon ion-social-html5"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left  ">
                <img src="img/AXPoSibCSCiVoy3EPh9V_Picture 3029.jpg">
                <h2>Нягтлан бодох бүртгэл</h2>
                <p>Тохироо байхгүй байна.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  ">
                <img src="img/2QldTkoyRvi35pDEj58I_5o95j46ocp4cz4sy43b6pv72u.jpg">
                <h2>Залуу манлайлал Хувь хүний хөгжил</h2>
                <p>5ш тохироо байна</p>
                <i class="icon ion-social-html5-outline"></i>
            </ion-item>
        </ion-list>
        <div class=" button-bar "></div>
    </ion-content>
</ion-view>