<!-- page8 zar-nemeh -->
<ion-view title="Зар нэмэх">
    <ion-content padding="true" class="has-header">
        <form class="list ">
            <label class="item item-input ">
                <span class="input-label">Номны нэр:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <form class="list ">
            <label class="item item-input ">
                <span class="input-label">Зохиолч:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 1px;"></div>
        <form class="list ">
            <label class="item item-input ">
                <span class="input-label">Хэвлэгдсэн он:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 1px;"></div>
        <form class="list ">
            <label class="item item-input ">
                <span class="input-label">Төрөл:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 3px;"></div>
        <form class="list ">
            <label class="item item-input ">
                <span class="input-label">Товч тайлбар:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 1px;"></div>
        <form class="list ">
            <label class="item item-input ">
                <span class="input-label">Холбоо барих:</span>
                <input type="tel" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 1px;"></div>
        <form class="list ">
            <label class="item item-select ">
                <span class="input-label">Үнэлгээ</span>
                <select>
                    <option>Шинэ</option>
                    <option>Шинэвтэр</option>
                    <option>Хуучин</option>
                    <option>Хуучивтар</option>
                    <option>Ноорхой</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>