<!-- page-10  zarlal-->

<ion-view title="Зарлал">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left  ">
                <img src="img/4JpqDHvLS7ONciX74Es9_u15482670912012-04-09-19-14[www.golio.mn].jpg">
                <h2>Монголын нууц товчоо</h2>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Хэвлэгдсэн он</ion-item>
            <ion-item>Төрөл</ion-item>
            <ion-item>Товч тайлбар</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Шинэ хуучин үнэлгээ</ion-item>
            <ion-item>Холбоо барих</ion-item>
            <ion-item>Үнэ</ion-item>
        </ion-list>
    </ion-content>
</ion-view>